{:paths ["src"]
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.71"}
                     com.datomic/ion-dev {:mvn/version "0.9.186"}}}
  :local {:extra-paths ["env/dev"]
          :extra-deps {nrepl {:mvn/version "0.6.0"}
                       org.immutant/web {:mvn/version "2.1.10"}
                       org.clojure/tools.namespace {:mvn/version "0.2.11"}}}}
 :deps
 {

  jobryant/datomic-cloud {:mvn/version "1.0-SNAPSHOT"}
  jobryant/util {:local/root "../../jobryant/util"} ; :mvn/version "1.1-SNAPSHOT"}
  jobryant/firebase {:mvn/version "1.0-SNAPSHOT"}
  jobryant/ion {:local/root "../../jobryant/ion"}
  mount {:mvn/version "0.1.15"}
  com.datomic/ion {:mvn/version "0.9.28"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/clojure {:mvn/version "1.9.0"}
  orchestra {:mvn/version "2019.02.06-1"}
  compojure {:mvn/version "1.6.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring-cors {:mvn/version "0.1.13"}
  ring-middleware-format {:mvn/version "0.7.4"}
  com.taoensso/timbre {:mvn/version "4.10.0"}

  com.cognitect/transit-java #:mvn{:version "0.8.311"},
  commons-codec/commons-codec #:mvn{:version "1.10"},
  com.fasterxml.jackson.core/jackson-core #:mvn{:version "2.9.5"},
  com.google.guava/guava #:mvn{:version "18.0"},
  org.msgpack/msgpack #:mvn{:version "0.6.10"},
  com.cognitect/transit-clj #:mvn{:version "0.8.285"},
  org.clojure/tools.reader #:mvn{:version "1.0.0-beta4"},
  org.slf4j/slf4j-api #:mvn{:version "1.7.14"},
  org.clojure/core.memoize #:mvn{:version "0.5.9"},
  org.clojure/core.cache #:mvn{:version "0.6.5"}
  }}
