{:projects
 {core       {:deps [org.clojure/tools.namespace]}
  components {:deps [nrepl/nrepl
                     info.sunng/ring-jetty9-adapter
                     metosin/reitit-ring]}
  crux       {:deps [juxt/crux-core
                     juxt/crux-rocksdb
                     metosin/malli]
              :projects [core
                         malli]}
  extra      {:deps [buddy/buddy-sign
                     clj-http/clj-http
                     lambdaisland/uri]
              :projects [core]}
  malli      {:deps [metosin/malli]}
  middleware {:deps [metosin/muuntaja
                     ring/ring-defaults]
              :projects [core]}
  views      {:deps [rum/rum]}}
 :deps
 {buddy/buddy-sign               {:mvn/version "3.3.0"}
  com.taoensso/timbre            {:mvn/version "4.10.0"}
  clj-http/clj-http              {:mvn/version "3.10.0"}
  info.sunng/ring-jetty9-adapter {:mvn/version "0.14.0"}
  juxt/crux-core                 {:mvn/version "21.04-1.16.0-beta"}
  juxt/crux-rocksdb              {:mvn/version "21.04-1.16.0-beta"}
  lambdaisland/uri               {:mvn/version "1.4.54"}
  me.raynes/fs                   {:mvn/version "1.4.6"}
  metosin/malli                  {:mvn/version "0.4.0"}
  metosin/reitit-ring            {:mvn/version "0.3.7"}
  metosin/muuntaja               {:mvn/version "0.6.7"}
  nrepl/nrepl                    {:mvn/version "0.6.0"}
  org.clojure/core.async         {:mvn/version "1.0.567"}
  org.clojure/data.xml           {:mvn/version "0.2.0-alpha5"}
  org.clojure/data.zip           {:mvn/version "0.1.3"}
  org.clojure/tools.cli          {:mvn/version "0.4.2"}
  org.clojure/tools.deps.alpha   {:mvn/version "0.6.496"}
  org.clojure/tools.namespace    {:mvn/version "0.2.11"}
  ovotech/ring-jwt               {:mvn/version "1.2.5"}
  ring-cors/ring-cors            {:mvn/version "0.1.13"}
  ring-middleware-format         {:mvn/version "0.7.4"}
  ring/ring-defaults             {:mvn/version "0.3.2"}
  rum/rum                        {:mvn/version "0.11.4"}}}
