{:deps
 {juxt/crux-core {:mvn/version "21.04-1.16.0-beta"},
  juxt/crux-rocksdb {:mvn/version "21.04-1.16.0-beta"},
  metosin/malli {:mvn/version "0.4.0"},
  flub/malli
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "malli",
   :sha "be1e6ac49050c9f8c6d92d1b6aef9e46aa1cf384"},
  flub/core
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "core",
   :sha "be1e6ac49050c9f8c6d92d1b6aef9e46aa1cf384"}}}
