{:deps
 {juxt/crux-core {:mvn/version "21.04-1.16.0-beta"},
  juxt/crux-rocksdb {:mvn/version "21.04-1.16.0-beta"},
  metosin/malli {:mvn/version "0.4.0"},
  flub/malli
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "malli",
   :sha "511627a219fef33dfabbaf8aea425e9cf31870b8"},
  flub/core
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "core",
   :sha "511627a219fef33dfabbaf8aea425e9cf31870b8"}}}
