{:deps
 {juxt/crux-core {:mvn/version "21.04-1.16.0-beta"},
  juxt/crux-rocksdb {:mvn/version "21.04-1.16.0-beta"},
  metosin/malli {:mvn/version "0.4.0"},
  flub/malli
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "malli",
   :sha "bed21db0add4d739b6d5436aac68a01e56c68cde"},
  flub/core
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "core",
   :sha "bed21db0add4d739b6d5436aac68a01e56c68cde"}}}
