{:deps
 {buddy/buddy-sign {:mvn/version "3.3.0"},
  clj-http/clj-http {:mvn/version "3.10.0"},
  lambdaisland/uri {:mvn/version "1.4.54"},
  flub/core
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "core",
   :sha "511627a219fef33dfabbaf8aea425e9cf31870b8"}}}
