{:deps
 {metosin/muuntaja {:mvn/version "0.6.7"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  flub/core
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "core",
   :sha "511627a219fef33dfabbaf8aea425e9cf31870b8"}}}
