{:deps
 {metosin/muuntaja {:mvn/version "0.6.7"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  flub/core
  {:git/url "https://github.com/jacobobryant/flub",
   :deps/root "core",
   :sha "bed21db0add4d739b6d5436aac68a01e56c68cde"}}}
